*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

input[type=file]{
    display: none;
}

label{  
    background-color: blue;
    color: white;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    font-size: 17px;
    width: 220px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

form{
    text-align: center;
    background-color: gray;
    padding: 30px 0;
}

form select{
    width: 220px;
    height: 40px;
    appearance: none;  /* tira a seta do campo select */
    cursor: pointer;
    text-align: center;
}