/* CONFIGURATIONS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}
/* end configurations */

.container{
    width: 98%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: grey;
}

.box{
    border: 1px solid black;
    width: 33.3%;
    height: 300px;
    background-color: green;
    float: left;
}

.box:hover{
    cursor: pointer;
    background-color: hotpink;
}

@media screen and (max-width: 505px ){
    .box{
        width: 40%;
        display: inline-block;
        float: none;
    }

    .container{
        text-align: center;
    }
    
}

