/* CONFIGURAÇÕES GERAIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
} /* fim configurações */

.center{
    width: 100%;
    margin: 0 auto;
    max-width: 1280px; /* acrescentou módulo 05 */
}

.header{
    width: 100%;
    height: 60px;
    background-color: #212121;
    padding: 0 2%;  /* acrescentou módulo 05 */

}

.header img{
    margin: 7px 40px;
}

/* BANNER */
.container-banner{
    width: 100%;
    height: 557px;
    background-image: url(../imagens/banner\ 1280.PNG);
    padding: 0 2%; /* acrescentou módulo 05 */
    
}

.container-banner .center{
    height: 100%;
    max-width: 1280px; /* acrescentou módulo 05 */
    
}


.list-container{      /* 3p */
    float: left;
    width: 619px;
    height: 270px;
    background-color: rgb(33,35,67,0.7);
    margin-top: 40px;
}

.list-container ul li{        /* 3p */
    list-style-position: inside;
    color: white;
    margin-top: 10px;
    padding: 5px;
}                   

.list-container li:nth-child(3):hover{
    color: yellow;
}
/* end box transparent */


/* formulário */
.form{   
    width: 400px;
    height:calc(100% + 15px);
    background-color: white;
    background-clip: padding-box;
    float: right;
    border:  solid rgb(204, 204, 204, 0.4) 8px;     
    top: -15px;
    padding: 10px;
    position: relative;
}

.form h2{
    font-weight: normal;
    font-size: 21px;
    font-family: "fonte 1";
}

@font-face {
    font-family: "fonte 1";
    src: url(../fonte/IrishGrover-Regular.ttf);
}

.input-container{  /* campos */
    margin-top: 20px;
}

.input-container span{  /* campos */
    display: inline-block;
    width: 100%;
    color: #BBBBBB;
    font-size: 17px;
}

.input-container input[type=text]{
    margin-top: 5px;
    width: 344px;
    height: 55px;
    border: solid 1px #ccc;
}

.form p{ 
    display: inline-block;
    width: 100%;
    color: #BBBBBB;
    font-size: 17px;
    margin-top: 8px;
}

/* button enviar */
.form input[type=submit]{  
    color: white;
    font-size: 25px;
    width: 280px;
    height: 56px;
    background-color: blue;
    display: inline-block;
    cursor: pointer;
}

.form .input-submit-container{
    text-align: center;
    margin-top: 10px;
}

/* fields nome, email e telefone */
.input-container input[type=text]:hover{
    background-color:yellow;
    border: 2px solid;
    cursor: pointer;
}
/* fim formulário */


/* SECTION BELOW OF BANNER */
.container-2{
    padding: 40px 0;
    background-color: #DDDDDD;
    text-align: center;
    
}

.container-2 h2{
    font-weight: normal;
}

.container-2 p{
    width: 100%;    /* saiu 698px - módulo 05 */
    display: inline-block;
    text-align: justify;
    margin: 15px 0;
    max-width: 768px;  /* acrescentado - módulo 05 */
}

/* arrow */
.arrow{
    background-image: url(../imagens/arrow.PNG);
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    position: relative;
    top: 40px;
    left: calc(50% - 30px);
    padding-bottom: 50px;
    

}
/* END SECTION BELOW OF BANNER */


/* SECTION 03 */
.three-pcs{
    width: 100%;
    height: 350px;
    text-align: center;
   
}

.three-pcs h2{
    margin: 30px;
}

.three-pcs div{    /* the three pcs */
    width: 400px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    
}

.three-pcs p{
    text-align: justify;
    margin-top: 10px;
}

.three-pcs h2{
    text-align: center;
    color: #472d65;
}                           /* enf the three pcs */
/* END SECTION 03 */


/* FOOTER */
footer{
    border-top: solid 2px #888888;
    height: 100px;
    width: 100%;
}

.footer{
    border-top:  4px solid black;
    /* clear: both; */
    padding: 30px 0;
}

footer h3{
    text-align: center;
    margin-top: 15px;
    color: #472d65 ;

}

/* SESSÃO RESPONSIVO */
@media screen and (max-width: 900px) {
    .header{
    width: 100%;
    padding: 15px 0;
    text-align: center;
    height: auto;
    }

    .header img{
        margin: 0;
    }
    /* fim classe header */

    .container-banner{
        width: 100%;
        height: 900px;
        padding: 40px 2%;
        text-align: center;
        
        
    }

    .form{ 
        height: 560px;
        
        
    }

   .list-container{
       margin-top: -20px;
       margin-bottom: 30px;
   }

   


}  /* acrescentou na aula 55 */

@media screen and (max-width: 1050px) and (max-width: 1284px) {
    .list-container{   /* 3p-resp. */
        display: inline-block;
        float: none;
        max-width: 500px;
        width: 100%;
        text-align: justify;
    }

    .form{  /* centralizou o formulário */
        display: inline-block;
        float: none;
   }

    .center{    /* centralizou 3p */
        text-align: center;  
    
    }

    span{  /* nome dos campos */
        text-align: justify;
        padding-left: 10px;
    }
    
   .pc1, .pc2, .pc3{
       margin-bottom: 50px;
       border: black solid 1px;
   }

   .three-pcs{
       /* margin-bottom: 70%;  colocar rodapé na posição */
   }

  

   footer{
       background-color: rgb(199, 25, 97);
       position: absolute;
       bottom: 0;
       height: 100px;
       clear: both;

   }



}

